* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(243, 251, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

#header a {
    text-decoration: none;
}

#header .baner-log img {
    width: 150px;
}

#header .head-nav {
    /* border: 1px solid blue; */
    display: flex;
}

#header nav {
    margin-left: 20px;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

#header nav a {
    /* background-color: tomato; */
    display: inline-block;
    margin-right: 6px;
    padding: 5px 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#header nav a:hover {
    color: rgb(241, 101, 101);
}

#header .login,
#header .regester {
    border: 1px solid lightgray;
    padding: 10px 20px;
    display: inline-block;
    transition: 1s;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
}

#header .login {
    color: rgb(241, 101, 101);
}

#header .regester {
    background-color: rgb(59, 58, 58);
    color: white;
}

#header .login:hover {
    background-color: rgb(241, 101, 101);
    color: white;
}

#header .regester:hover {
    background-color: white;
    color: rgb(59, 58, 58);
}

#header .holder img {
    width: 45px;
}

#header .khat {
    display: none;
    cursor: pointer;
}

@media screen and (max-width :810px) {
    #header .head-nav nav {
        display: none;
    }


    #header .khat {
        display: block;
    }
}

@media screen and (max-width :550px) {
    #header .reg-log {
        display: none;
    }
}

#header .wellcom {
    color: chocolate;
    /* border: 1px solid blue; */
    /* display: inline-block; */
    padding: 5px;
    font-size: 25px;
    align-items: center;
    position: relative;
    top: 5px;
    animation: wellcom;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite
}

@keyframes wellcom {
    0% {
        color: darkslategray;
        right: 100px;
    }

    50% {
        color: rgb(180, 219, 180);
        left: 100px;
    }

    100% {
        color: rgb(56, 58, 173);
        right: 100px
    }
}

@media screen and (max-width: 1000px) {
    #header .wellcom {
        display: none;
    }

}

/* ============================= */
.category-main-content {
    line-height: 30px;
}

.category-main-list {
    line-height: 30px
}

/* ======================= */
/* .category-img-top {
    width: 100%;
    height: 300px;
}

.category-img-top img {
    width: 100%;
    height: 100%;
    display: inline-block;
    max-width: 100%;

}

.category-img-bottom {
    max-width: 100%;
    width: 100%;
}

.category-img-bottom img {
    width: 89%;
    height: 100%;
    max-width: 100%;
}

.category-img-mt-right {
    max-width: 100%;
    width: 100%;
}

.category-img-bt-right img {
    width: 100%;
    height: 100%;
    max-width: 100%;
} */

/* =========================== */
.blog-img {
    /* width: 100%; */
    height: 300px;
    border-radius: 20px 20px 0 0;
}

.info .footer a {
    color: midnightblue;
    font-size: 18px;
}

.info .footer a:hover {
    color: tomato;
}

.info .footer p {
    font-size: 14px;
}

/* ======================== */
.footer-body .fa {
    font-size: 40px;
    margin-right: 30px;
}

.footer-body .footer-number a,
ul {
    color: black;
}

.footer-body .footer-number a:hover {
    color: tomato;
}

.footer-body .footer-gmail a,
ul {
    color: black;
}

.footer-body .footer-gmail a:hover {
    color: tomato;
}

.cat-footer p {
    line-height: 29px;
}

.cat-footer h4 {
    font-weight: 700;
    color: rgb(6, 27, 119);
}

.footer-form {
    padding: 60px 40px;
    border: 1px solid #c7c4c4;
    border-radius: 2px;
}

.footer-form input {
    padding: 10px 15px;
    border: 1px solid #9993933f;
    width: 48%;
    border: 1px solid #c7c4c4;
}

.contact-check input {
    width: 20px;
}